<div class="sidenav">
    {{#link-to "order"}}
    Orders
  {{/link-to}}
  {{#link-to "support"}}
    Supports
  {{/link-to}}
  {{#link-to "admin"}}
    Administration
  {{/link-to}}
</div>
{{outlet}}









